
*.db
*.opendb
*.tlog
*.tlog
231.07.Ponder.GLDemo/Debug/Lab07.tlog/unsuccessfulbuild
*.txt
*.obj
231.07.Ponder.GLDemo/Debug/Lab07.tlog/unsuccessfulbuild
*.tlog
*.txt
*.obj
*.idb
*.pdb
*.vsidx
*.exe
*.ipch
*.recipe
*.ilk
*.obj
231.07.Ponder.GLDemo/Debug/Lab07.obj
